* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Audiowide', cursive;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 4vmin;
    color: darkgray;
    letter-spacing: 1vmin;
}

h1 {
    color: gray;
    font-size: 3vmin;
}

.cell {
    transform: scale(0.7);
}

.cell:hover {
    transform: scale(0.9);
    transition: transform 150ms ease-in;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    gap: .2vmin;
    margin-top: 2vmin;
}

#board > div {
    border: 0.1vmin solid lightgray;
}

button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid gray;
    border-color: darkgray;
    color: gray;
}

button:hover {
    color: white;
    background-color: darkgray;
}