* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#field {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    gap: 1.5vmin;
    margin: 4vmin;
}

#field > div{
    border: 0.1vmin solid black;
    text-align: center;
    font-size: 8vmin;
    line-height: 10vmin;
}