*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    
}

header{ 
    text-align: center;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
img{
    width: 100%;
}
.gameboard {
    display: grid;
    width: 600px;
    height: 600px;
    border: 4px solid red;
    grid-template-areas: "square1 square2 square3"
                         "square4 square5 square6"
                         "square7 square8 square9";
    /* grid-template-areas: "gameSquare aSq gameSquare bSq gameSquare cSq"
                        "gameSquare dSq gameSquare eSq gameSquare fSq"
                        "gameSquare gSq gameSquare hSq gameSquare iSq";
     */
}
#square {
    display: grid;
    grid-template-areas: "imgb";
}

.gameSquare.aSq {
  background-color: aquamarine;
    border: 1px solid red;
    
} 
 .gameSquare.bSq { 
  background-color: aquamarine;
    border: 1px solid red;
} 
.gameSquare.cSq {
  background-color: green;
    border: 1px solid red;
} 
.gameSquare.dSq {
  background-color: aquamarine;
    border: 1px solid red;
   
} 
.gameSquare.eSq {
  background-color: aquamarine;
    border: 1px solid red;
    
} 
.gameSquare.fSq {
  background-color: aquamarine;
    border: 1px solid red;
    
} 
.gameSquare.gSq {
  background-color: aquamarine;
    border: 1px solid red;
    
} 
.gameSquare.hSq {
  background-color: aquamarine;
    border: 1px solid red;
  
} 
.gameSquare.iSq {
  background-color: aquamarine;
    border: 1px solid red;
   
}  