body {
    background-color: blanchedalmond;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Carter One', cursive;

}

.tileContainer {
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
    align-items: center;
}

.tile {
    height: 150px;
    width: 150px;
    border: 2px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    color:darkslateblue;
    font-size: 80px;
}

#reset {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 0 auto;
    padding:5px;
    margin-top: 20px;
    font-family: 'Carter One', cursive;
    
}

