body {
    margin: 0;
    padding: 0;
    text-align: center;
}
main {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    border-style: solid;



}

h1{
    color: red;
    outline:black;
    outline-style: solid;
}

.container{
    border-color: purple;
    border-style: none;
    height: 240px;
    width: 240px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


#top_left {
    background-color: red;
    height: 80px;
    width: 80px;

}
#top_center {
    background-color: white;
    height: 80px;
    width: 80px;


}
#top_right {
    background-color: red;
    height: 80px;
    width: 80px;



}
#middle_left {
    background-color: white;
    height: 80px;
    width: 80px;


}
#middle_center {
    background-color: red;
    height: 80px;
    width: 80px;


}
#middle_right {
    background-color: white;
    height: 80px;
    width: 80px;
   

}
#bottom_left {
    background-color: red;
    height: 80px;
    width: 80px;


}
#bottom_center {
    background-color: white;
    height: 80px;
    width: 80px;


}

#bottom_right {
    background-color: red;
    height: 80px;
    width: 80px;


}






/*!--id's used so far
container
top_left
top_center
top_right
middle_left
middle_center
middle_right
bottom_left
bottom_center
bottom_right