:root {
  --green: #00ff00;
}

body {
  margin: 0;
  padding: 0;
  color: var(--green);
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}
h1 {
  font-size: 54px;
  text-transform: uppercase;
}

.container {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameboard {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.box {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green);
  font-size: 150px;
}
button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--green);
  color: white;
  border-color: var(--green);
  font-size: 18px;
  transition: 200ms transform;
}

button:hover {
  cursor: pointer;
}
