body {
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 100px 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    padding: 10px;
    grid-gap: 5 px;
    background-color: rgb(255, 255, 255);
}

.box {
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    border: 10px solid rgba(237, 235, 240, 0.795);
    background-color: rgba(176, 255, 242, 0.973);

}

.game-display {
    grid: 5vh;
    background-color: blue;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 20px 40px;
    border: 3px solid rgb(144, 219, 248);
    color: rgb(44, 24, 131);   
    background-color: rgba(43, 149, 219, 0.897);
}

.reset {
   border: 2px solid rgb(3, 3, 2);
    color:rgb(0, 58, 182);
    font-size: 20px;  
}