.center-piece {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



#title {
    text-align: center;
    letter-spacing: 0.1em;
    color: pink;
    padding-bottom: 30px;

}

#newCardBtn {
    background-color: black;
    color: rgb(255,255,255);
    padding: 10px 45px;
    font-size: 1.25em;
    margin-top: 1px;
    cursor: pointer
}

#bingoCanvas {
    position:absolute;
    z-index:20;
}



.title {
    text-align: center;
}

.footer {
    text-align: center;
}

.card-container {
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.card {
    font-size: 3em;

    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: 120px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    align-items: stretch;
    border-bottom: 1px solid #000;
    z-index: 10;
    position: relative;
    left: 0px;
    top: 0px;
    user-select: none;

}


.header {
   
    background-color: #000;
    color: #ffffff;
    line-height: 120px;
    position: relative;


    
    text-align: center;

}

.boardtop {
    border: 1px solid #000;
    border-right-color: rgb(0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: center;
    line-height: 120px;
    position: relative;
    height: 100%;
    width: 100%;
}

.boardmiddle {
    border: 1px solid #000;
    border-right-color: rgb(0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: center;
    line-height: 120px;
    position: relative;
    height: 100%;
    width: 100%;
}

.boardbottom {
    border: 1px solid #000;
    border-right-color: rgb(0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: center;
    line-height: 120px;
    position: relative;
    height: 100%;
    width: 100%;
}