/* styles.css */

/* DO NOT DO ANY EXTRA CSS UNTIL YOU ARE FINISHED WITH THE GAME */

/* enough css to align/make the gameboard */

#board {
    text-align: center;
    margin: 60px 
}
.row{
    margin: 0;
}
.square {
    height:100px;
    width: 100px;
    background-color: grey;
    display: inline-block;
    margin: 0;
    position: relative;
}
p {
    position: absolute;
    transform: translate(47px, 100%);
}
#boxOne {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#boxTwo {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}
#boxThree {
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#boxFour {
    border-right: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
#boxFive {
    border: 5px solid black;
}
#boxSix {
    border-left: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
#boxSeven {
    border-right: 5px solid black;
    border-top: 5px solid black;
}
#boxEight {
    border-right: 5px solid black;
    border-top: 5px solid black;
    border-left: 5px solid black;
}
#boxNine {
    border-left: 5px solid black;
    border-top: 5px solid black;
}
button {
    margin: 30px 0;
    padding: 20px;
    border-radius: 10px;
}