/* styles.css */
/* just enough styling to get a gird and setup the gameboard */
/* DO NOT DO ANY OTHER STYLING UNTIL YOU ARE FINISHED */
.tictactoe{
display: grid;
}
#resetButton{
background-color: red;
margin: 0 auto;
padding: 15px 25px 15px 25px;
font-size: 3em;

}
table{
margin-left:auto;
margin-right:auto;
border: 1px solid black;

}
tr{
    border: 1px solid black;
    background-color: white;
}
td{
    border: 1px solid black;
    font-size: 100px;
    width: 200px;
    height: 150px;
    text-align: center;
    background-color: gray;
}
h1{
    text-align: center;
    color: white;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
     color:red;
     font-size: 3em;

}
h2{
    text-align: center;
    color: white;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#winnerAnnouncement{
    text-align: center;
    font-size: 5em;
    color: white;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e2b1cd80-45c1-44f8-a444-1d49a14f00ea/d51nam3-845ed871-3a32-48c4-ae20-7e237d48e6c9.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2UyYjFjZDgwLTQ1YzEtNDRmOC1hNDQ0LTFkNDlhMTRmMDBlYVwvZDUxbmFtMy04NDVlZDg3MS0zYTMyLTQ4YzQtYWUyMC03ZTIzN2Q0OGU2YzkuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.fiDmE2zex92RLkY9Fn7eED67a8l1a90j7pmIDh6yQ6U);
}

.scoreCard{
    text-align: center;
    color: white;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
     font-size: 4em;
}
.recolor{
    color: red ;
}
p{
    display: inline;
}