/* styles.css */
/* just enough styling to get a gird and setup the gameboard */
/* DO NOT DO ANY OTHER STYLING UNTIL YOU ARE FINISHED */
.tictactoe{
display: grid;
}
#resetButton{
background-color: red;
margin: 0 auto;
padding: 15px 25px 15px 25px;
font-size: 3em;

}
table{
margin-left:auto;
margin-right:auto;
border: 1px solid black;

}
tr{
    border: 1px solid black;
    background-color: white;
}
td{
    border: 1px solid black;
    font-size: 100px;
    width: 200px;
    height: 150px;
    text-align: center;
    background-color: white;
}
h1{
    text-align: center;
    color: white;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
h2{
    text-align: center;
    color: white;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#winnerAnnouncement{
    text-align: center;
    font-size: 5em;
    color: white;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
body{
    background-image: url(https://external-preview.redd.it/72dZamiQ6CUrDBwHNEnjEjKEBtV-9Nz2ltWsaTdT0uM.jpg?auto=webp&s=67e456443af2fa42ec511966969f10e179a75f4e);
}
#scoreX{
   text-align: center;
    color: white;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
     font-size: 4em;
}
#scoreO{
   text-align: center;
    color: white;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
     font-size: 4em;
}
#recolor{
    color: red;
}