.gameboard {
       position: absolute;
       top: 100px;
       left: 100px;
       bottom: 100px;
       right: 100px;
       width: 200px;
       height: 200px;
       background-color: blue;
       margin: auto;
       justify-content: center;
       display: grid;
       grid-template-columns: auto 1fr auto;

} 

.box{
    width: 70px;
    height: 70px;
    border: 1px solid white;
    font-size: 70px;
}

#status{
font-size: 100px;
    position: relative;
    left: 35%;
    margin: auto;
}
