

.tic-tac-toe-grid {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  background-color: white;
  padding: 3px;
  width: 200px;
}

.square {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 80px;
}

#reset-button {
    color: white;
    background-color: darkgray;
    margin-top: 15px;
    margin-left: 165px;
    padding: 20px 40px 20px 40px;
}

h1 {
    margin-left: 150px;
}